/*
Link API

API pública de Link (Kiban): ejecuta un servicio de consulta/validación del catálogo Link (curp, sat, imss, nip, sms, buró de crédito, etc.), consulta su resultado y revisa el historial de ejecuciones.  Link expone un conjunto de endpoints genéricos: el servicio a ejecutar se elige en la ruta con {service}/{subservice}. El cuerpo de la petición y la forma de la respuesta dependen del servicio elegido; cada servicio define sus propios campos. Consulta el catálogo de servicios para el detalle de cada uno. Todos los endpoints se autentican con el header x-api-key.  Ambientes: producción en https://link.kiban.com y sandbox en https://sandbox.link.kiban.com. En sandbox la ejecución no llama al proveedor real: devuelve un test case configurable, para que puedas integrar el contrato del servicio sin costo ni credenciales reales.

API version: 1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package link

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"os"
)


// LinkAPIService LinkAPI service
type LinkAPIService service

type ApiApiV1FileGetRequest struct {
	ctx context.Context
	ApiService *LinkAPIService
	path *string
}

// Ruta del archivo, tal como viene en el detalle de la ejecución
func (r ApiApiV1FileGetRequest) Path(path string) ApiApiV1FileGetRequest {
	r.path = &path
	return r
}

func (r ApiApiV1FileGetRequest) Execute() (*os.File, *http.Response, error) {
	return r.ApiService.ApiV1FileGetExecute(r)
}

/*
ApiV1FileGet Descargar un archivo de una ejecución

Descarga un archivo generado por una ejecución (por ejemplo un PDF o comprobante). La ruta del archivo se obtiene del detalle de la ejecución y se pasa en el query param path.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiV1FileGetRequest
*/
func (a *LinkAPIService) ApiV1FileGet(ctx context.Context) ApiApiV1FileGetRequest {
	return ApiApiV1FileGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return *os.File
func (a *LinkAPIService) ApiV1FileGetExecute(r ApiApiV1FileGetRequest) (*os.File, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *os.File
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LinkAPIService.ApiV1FileGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/file"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.path == nil {
		return localVarReturnValue, nil, reportError("path is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "path", r.path, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/octet-stream"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiVversionServiceSubserviceGetRequest struct {
	ctx context.Context
	ApiService *LinkAPIService
	version string
	service string
	subservice string
	page *int32
	itemsPerPage *int32
}

// Número de página, empieza en 1
func (r ApiApiVversionServiceSubserviceGetRequest) Page(page int32) ApiApiVversionServiceSubserviceGetRequest {
	r.page = &page
	return r
}

// Cantidad de resultados por página
func (r ApiApiVversionServiceSubserviceGetRequest) ItemsPerPage(itemsPerPage int32) ApiApiVversionServiceSubserviceGetRequest {
	r.itemsPerPage = &itemsPerPage
	return r
}

func (r ApiApiVversionServiceSubserviceGetRequest) Execute() (*ControllerMicroserviceModelLinkExecutionPage, *http.Response, error) {
	return r.ApiService.ApiVversionServiceSubserviceGetExecute(r)
}

/*
ApiVversionServiceSubserviceGet Historial de ejecuciones de un servicio

Devuelve una página del historial de ejecuciones de un service/subservice. Cualquier query param adicional no listado aquí se interpreta como filtro de búsqueda sobre el listado (searchableBy).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param version Versión de la API (por ejemplo 1 o 2)
 @param service Servicio del catálogo Link
 @param subservice Operación del servicio
 @return ApiApiVversionServiceSubserviceGetRequest
*/
func (a *LinkAPIService) ApiVversionServiceSubserviceGet(ctx context.Context, version string, service string, subservice string) ApiApiVversionServiceSubserviceGetRequest {
	return ApiApiVversionServiceSubserviceGetRequest{
		ApiService: a,
		ctx: ctx,
		version: version,
		service: service,
		subservice: subservice,
	}
}

// Execute executes the request
//  @return ControllerMicroserviceModelLinkExecutionPage
func (a *LinkAPIService) ApiVversionServiceSubserviceGetExecute(r ApiApiVversionServiceSubserviceGetRequest) (*ControllerMicroserviceModelLinkExecutionPage, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ControllerMicroserviceModelLinkExecutionPage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LinkAPIService.ApiVversionServiceSubserviceGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v{version}/{service}/{subservice}"
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"service"+"}", url.PathEscape(parameterValueToString(r.service, "service")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"subservice"+"}", url.PathEscape(parameterValueToString(r.subservice, "subservice")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.page == nil {
		return localVarReturnValue, nil, reportError("page is required and must be specified")
	}
	if r.itemsPerPage == nil {
		return localVarReturnValue, nil, reportError("itemsPerPage is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "itemsPerPage", r.itemsPerPage, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiVversionServiceSubserviceIdGetRequest struct {
	ctx context.Context
	ApiService *LinkAPIService
	version string
	service string
	subservice string
	id string
}

func (r ApiApiVversionServiceSubserviceIdGetRequest) Execute() (*ControllerMicroserviceModelMicroserviceDetailDto, *http.Response, error) {
	return r.ApiService.ApiVversionServiceSubserviceIdGetExecute(r)
}

/*
ApiVversionServiceSubserviceIdGet Detalle de una ejecución

Devuelve el detalle de una ejecución: su estatus, la respuesta procesada y el raw de las llamadas al proveedor (apiData).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param version Versión de la API (por ejemplo 1 o 2)
 @param service Servicio del catálogo Link
 @param subservice Operación del servicio
 @param id Id de la ejecución
 @return ApiApiVversionServiceSubserviceIdGetRequest
*/
func (a *LinkAPIService) ApiVversionServiceSubserviceIdGet(ctx context.Context, version string, service string, subservice string, id string) ApiApiVversionServiceSubserviceIdGetRequest {
	return ApiApiVversionServiceSubserviceIdGetRequest{
		ApiService: a,
		ctx: ctx,
		version: version,
		service: service,
		subservice: subservice,
		id: id,
	}
}

// Execute executes the request
//  @return ControllerMicroserviceModelMicroserviceDetailDto
func (a *LinkAPIService) ApiVversionServiceSubserviceIdGetExecute(r ApiApiVversionServiceSubserviceIdGetRequest) (*ControllerMicroserviceModelMicroserviceDetailDto, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ControllerMicroserviceModelMicroserviceDetailDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LinkAPIService.ApiVversionServiceSubserviceIdGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v{version}/{service}/{subservice}/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"service"+"}", url.PathEscape(parameterValueToString(r.service, "service")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"subservice"+"}", url.PathEscape(parameterValueToString(r.subservice, "subservice")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiVversionServiceSubservicePostRequest struct {
	ctx context.Context
	ApiService *LinkAPIService
	version string
	service string
	subservice string
	body *map[string]interface{}
	origin *string
	mock *bool
}

// Cuerpo específico del servicio. Sus campos varían por service/subservice
func (r ApiApiVversionServiceSubservicePostRequest) Body(body map[string]interface{}) ApiApiVversionServiceSubservicePostRequest {
	r.body = &body
	return r
}

// Identificador libre del origen de la petición, para atribución
func (r ApiApiVversionServiceSubservicePostRequest) Origin(origin string) ApiApiVversionServiceSubservicePostRequest {
	r.origin = &origin
	return r
}

// Si es true no llama al proveedor real y devuelve una respuesta mock
func (r ApiApiVversionServiceSubservicePostRequest) Mock(mock bool) ApiApiVversionServiceSubservicePostRequest {
	r.mock = &mock
	return r
}

func (r ApiApiVversionServiceSubservicePostRequest) Execute() (*ControllerMicroserviceModelMicroserviceDetailDto, *http.Response, error) {
	return r.ApiService.ApiVversionServiceSubservicePostExecute(r)
}

/*
ApiVversionServiceSubservicePost Ejecutar un servicio de Link

Ejecuta un servicio del catálogo Link (por ejemplo curp/validate, sat/pf_data_from_rfc, nip/send). El servicio y la operación se eligen en la ruta con {service}/{subservice}.
El cuerpo de la petición depende del servicio elegido: cada servicio define sus propios campos. Consulta el catálogo de servicios para el detalle de cada uno.
En sandbox no se llama al proveedor real; se devuelve un test case configurable.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param version Versión de la API (por ejemplo 1 o 2)
 @param service Servicio del catálogo Link (por ejemplo curp, sat, imss, nip, sms)
 @param subservice Operación del servicio (por ejemplo validate, send, pf_data_from_rfc)
 @return ApiApiVversionServiceSubservicePostRequest
*/
func (a *LinkAPIService) ApiVversionServiceSubservicePost(ctx context.Context, version string, service string, subservice string) ApiApiVversionServiceSubservicePostRequest {
	return ApiApiVversionServiceSubservicePostRequest{
		ApiService: a,
		ctx: ctx,
		version: version,
		service: service,
		subservice: subservice,
	}
}

// Execute executes the request
//  @return ControllerMicroserviceModelMicroserviceDetailDto
func (a *LinkAPIService) ApiVversionServiceSubservicePostExecute(r ApiApiVversionServiceSubservicePostRequest) (*ControllerMicroserviceModelMicroserviceDetailDto, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ControllerMicroserviceModelMicroserviceDetailDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LinkAPIService.ApiVversionServiceSubservicePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v{version}/{service}/{subservice}"
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"service"+"}", url.PathEscape(parameterValueToString(r.service, "service")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"subservice"+"}", url.PathEscape(parameterValueToString(r.subservice, "subservice")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.origin != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "origin", r.origin, "simple", "")
	}
	if r.mock != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "mock", r.mock, "simple", "")
	}
	// body params
	localVarPostBody = r.body
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiVversionServiceSubserviceTestCaseGetRequest struct {
	ctx context.Context
	ApiService *LinkAPIService
	version string
	service string
	subservice string
}

func (r ApiApiVversionServiceSubserviceTestCaseGetRequest) Execute() ([]ControllerTestCaseModelTestCaseOutputMany, *http.Response, error) {
	return r.ApiService.ApiVversionServiceSubserviceTestCaseGetExecute(r)
}

/*
ApiVversionServiceSubserviceTestCaseGet Test cases de un servicio (sandbox)

Devuelve los test cases configurados para un service/subservice. En sandbox, la ejecución de ese servicio devuelve uno de estos test cases en lugar de llamar al proveedor real.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param version Versión de la API (por ejemplo 1 o 2)
 @param service Servicio del catálogo Link
 @param subservice Operación del servicio
 @return ApiApiVversionServiceSubserviceTestCaseGetRequest
*/
func (a *LinkAPIService) ApiVversionServiceSubserviceTestCaseGet(ctx context.Context, version string, service string, subservice string) ApiApiVversionServiceSubserviceTestCaseGetRequest {
	return ApiApiVversionServiceSubserviceTestCaseGetRequest{
		ApiService: a,
		ctx: ctx,
		version: version,
		service: service,
		subservice: subservice,
	}
}

// Execute executes the request
//  @return []ControllerTestCaseModelTestCaseOutputMany
func (a *LinkAPIService) ApiVversionServiceSubserviceTestCaseGetExecute(r ApiApiVversionServiceSubserviceTestCaseGetRequest) ([]ControllerTestCaseModelTestCaseOutputMany, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ControllerTestCaseModelTestCaseOutputMany
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LinkAPIService.ApiVversionServiceSubserviceTestCaseGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v{version}/{service}/{subservice}/test_case"
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"service"+"}", url.PathEscape(parameterValueToString(r.service, "service")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"subservice"+"}", url.PathEscape(parameterValueToString(r.subservice, "subservice")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiVversionServiceSubserviceVaultPostRequest struct {
	ctx context.Context
	ApiService *LinkAPIService
	version string
	service string
	subservice string
	controllerMicroserviceModelVaultNameDto *ControllerMicroserviceModelVaultNameDto
}

// Nombre del vault a validar
func (r ApiApiVversionServiceSubserviceVaultPostRequest) ControllerMicroserviceModelVaultNameDto(controllerMicroserviceModelVaultNameDto ControllerMicroserviceModelVaultNameDto) ApiApiVversionServiceSubserviceVaultPostRequest {
	r.controllerMicroserviceModelVaultNameDto = &controllerMicroserviceModelVaultNameDto
	return r
}

func (r ApiApiVversionServiceSubserviceVaultPostRequest) Execute() (map[string]string, *http.Response, error) {
	return r.ApiService.ApiVversionServiceSubserviceVaultPostExecute(r)
}

/*
ApiVversionServiceSubserviceVaultPost Validar un vault

Verifica si un vault (credencial guardada) existe y es del tipo correcto para el servicio. Devuelve status: valid, notValid o notFound.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param version Versión de la API (por ejemplo 1 o 2)
 @param service Servicio del catálogo Link
 @param subservice Operación del servicio
 @return ApiApiVversionServiceSubserviceVaultPostRequest
*/
func (a *LinkAPIService) ApiVversionServiceSubserviceVaultPost(ctx context.Context, version string, service string, subservice string) ApiApiVversionServiceSubserviceVaultPostRequest {
	return ApiApiVversionServiceSubserviceVaultPostRequest{
		ApiService: a,
		ctx: ctx,
		version: version,
		service: service,
		subservice: subservice,
	}
}

// Execute executes the request
//  @return map[string]string
func (a *LinkAPIService) ApiVversionServiceSubserviceVaultPostExecute(r ApiApiVversionServiceSubserviceVaultPostRequest) (map[string]string, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LinkAPIService.ApiVversionServiceSubserviceVaultPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v{version}/{service}/{subservice}/vault"
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"service"+"}", url.PathEscape(parameterValueToString(r.service, "service")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"subservice"+"}", url.PathEscape(parameterValueToString(r.subservice, "subservice")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.controllerMicroserviceModelVaultNameDto == nil {
		return localVarReturnValue, nil, reportError("controllerMicroserviceModelVaultNameDto is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.controllerMicroserviceModelVaultNameDto
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
